<!DOCTYPE html>
<html>

<head>
  <!-- <link rel="stylesheet" type="text/css" href="/public/template.css" /> -->
  <!-- <link href='https://fonts.googleapis.com/css?family=Assistant' rel='stylesheet'> -->
</head>

<body style="padding: 20px 25px; font-family: 'Calibri'; font-size:14px;">
  <table style="<%=style.table%>">
    <tr>
      <td style="<%=style.td%>" colspan="1">
        <img alt='Thai Airway' src="<%=logo%>" height='30px'>
      </td>
      <td style="padding-left:20%;" colspan="8">
        <h3>KP AIRSIDE HANDLING REPORT</h3>
      </td>
    </tr>
    <tr>
      <td style="<%=style.td%>">TO</td>
      <td style="<%=style.fill%> width:100px;">
        <%=to%>
      </td>
      <td style="<%=style.td%>">FROM</td>
      <td style="<%=style.fill%> width:260px;">
        <%=from%>
      </td>
      <td style="<%=style.td%>">GROUP</td>
      <td style="<%=style.fill%> width:260px;">
        <%=group%>
      </td>
      <td style="<%=style.td%>">ROSTER</td>
      <td style="<%=style.fill%> width:260px;">
        <%=roster%>
      </td>
    </tr>
  </table>
  <table style="<%=style.table%>">
    <tr>
      <td>FLIGHT NO.</td>
      <td style="<%=style.fill%> width:100px;">
        <%=flightNo%>
      </td>
      <td>DATE</td>
      <td style="<%=style.fill%> width:100px;">
        <%=date%>
      </td>
      <td>A/C REGISTERATION</td>
      <td style="<%=style.fill%> width:150px;">
        <%=ACregis%>
      </td>
      <td>A/C TYPE</td>
      <td style="<%=style.fill%> width:80px;">
        <%=ACtype%>
      </td>
    </tr>
  </table>
  <table style="<%=style.table%> margin: 20px 0px; border: 1px solid  black;">
    <tr style="border: 1px solid black;">
      <th style="width:360px; border: 1px solid black;" colspan="2">ARRIVAL</th>
      <th style="width:360px; border: 1px solid black;" colspan="2">DEPARTURE</th>
    </tr>
    <tr>
      <td style="<%=style.tablelabel%>">port of origin</td>
      <td style="<%=style.tablefill%>"><span style="<%=style.spanfill%>">
          <%=POO%></span></td>
      <td style="<%=style.tablelabel%>">port of destination</td>
      <td style="<%=style.tablefill%>"><span style="<%=style.spanfill%>">
          <%=POD%></span></td>
    </tr>
    <tr>
      <td colspan="2" style="padding-left: 8px; border-right: 1px solid black;">
        <table style="width:350px;">
          <tr>
            <td>STA</td>
            <td><span style="<%=style.underline%> min-width:75px;">
                <%=sta1%></span></td>
            <td>ETA</td>
            <td><span style="<%=style.underline%> min-width:75px;">
                <%=eta1%></span></td>
            <td>ATA</td>
            <td><span style="<%=style.underline%> min-width:75px;">
                <%=ata1%></span></td>
          </tr>
        </table>
      </td>
      <td colspan="2" style="padding-left: 8px;">
        <table style="width:350px;">
          <tr>
            <td>STA</td>
            <td><span style="<%=style.underline%> min-width:75px;">
                <%=sta2%></span></td>
            <td>ETA</td>
            <td><span style="<%=style.underline%> min-width:75px;">
                <%=eta2%></span></td>
            <td>ATA</td>
            <td><span style="<%=style.underline%> min-width:75px;">
                <%=ata2%></span></td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td style="<%=style.tablelabel%>">bay / gate</td>
      <td style="<%=style.tablefill%>"><span style="<%=style.spanfill%>">
          <%=baygate1%></span></td>
      <td style="<%=style.tablelabel%>">bay / gate</td>
      <td style="<%=style.tablefill%>"><span style="<%=style.spanfill%>">
          <%=baygate2%></span></td>
    </tr>
    <tr>
      <td style="<%=style.tablelabel%>">disemarkation</td>
      <td style="<%=style.tablefill%>"><span style="<%=style.spanfill%>">
          <%=disemark%></span></td>
      <td style="<%=style.tablelabel%>">crew arr. gate</td>
      <td style="<%=style.tablefill%>"><span style="<%=style.spanfill%>">
          <%=crew%></span></td>
    </tr>
    <tr>
      <td style="<%=style.tablelabel%>">t/s same plane</td>
      <td style="<%=style.tablefill%>"><span style="<%=style.spanfill%>">
          <%=TSsamePlane%></span></td>
      <td style="<%=style.tablelabel%>">inform boarding</td>
      <td style="<%=style.tablefill%>"><span style="<%=style.spanfill%>">
          <%=inform%></span></td>
    </tr>
    <tr>
      <td style="<%=style.tablelabel%>">ciq</td>
      <td style="<%=style.tablefill%>"><span style="<%=style.spanfill%>">
          <%=ciq%></span></td>
      <td style="<%=style.tablelabel%>">start boarding</td>
      <td style="<%=style.tablefill%>"><span style="<%=style.spanfill%>">
          <%=start%></span></td>
    </tr>
    <tr>
      <td style="<%=style.tablelabel%>">t/s card distributed</td>
      <td style="<%=style.tablefill%>"><span style="<%=style.spanfill%>">
          <%=TScardDist%></span></td>
      <td style="<%=style.tablelabel%>">complete boarding</td>
      <td style="<%=style.tablefill%>"><span style="<%=style.spanfill%>">
          <%=complete%></span></td>
    </tr>
    <tr>
      <td style="<%=style.tablelabel%>">s/p onboard</td>
      <td style="<%=style.tablefill%>"><span style="<%=style.spanfill%>">
          <%=SQ%></span></td>
      <td style="<%=style.tablelabel%>">joining</td>
      <td style="<%=style.tablefill%>"><span style="<%=style.spanfill%>">
          <%=joining%></span></td>
    </tr>
    <tr>
      <td style="<%=style.tablelabel%>">gate opened</td>
      <td style="<%=style.tablefill%>"><span style="<%=style.spanfill%>">
          <%=gateOpened%></span></td>
      <td style="<%=style.tablelabel%>">transfer</td>
      <td style="<%=style.tablefill%>"><span style="<%=style.spanfill%>">
          <%=transfer%></span></td>
    </tr>
    <tr>
      <td style="<%=style.tablelabel%>">gate closed</td>
      <td style="<%=style.tablefill%>"><span style="<%=style.spanfill%>">
          <%=gateClosed%></span></td>
      <td style="<%=style.tablelabel%>">same plane reboard</td>
      <td style="<%=style.tablefill%>"><span style="<%=style.spanfill%>">
          <%=samePlaneReboard%></span></td>
    </tr>
    <tr>
      <td></td>
      <td style="border-right: 1px solid  black;"></td>
      <td colspan="2" style="padding-left: 8px;">
        <table style="width:350px;">
          <tr>
            <td>IATCI</td>
            <td><span style="<%=style.underline%> min-width:120px;">
                <%=iatci%></span></td>
            <td>OSTCI</td>
            <td><span style="<%=style.underline%> min-width:120px;">
                <%=ostci%></span></td>
          </tr>
        </table>
    </tr>
  </table>
  <table>
    <tr>
      <td>STAFF ASSIGNED</td>
      <td style="<%=style.underline%> min-width:590px;">
        <%=staff%>
      </td>
    </tr>
  </table>
  <table>
    <tr>
      <td nowrap>BOARDING PASS / IMM CARD / TICKET COLLECTED BY</td>
      <td style="<%=style.underline%> min-width:250px;">
        <%=collected%>
      </td>
      <td>BOCO BY</td>
      <td style="<%=style.underline%> min-width:100px;">
        <%=boco%>
      </td>
    </tr>
  </table>
  <table>
    <tr>
      <td>BUS CO-ORDINATOR</td>
      <td style="<%=style.underline%> min-width:210px;">
        <%=busCo%>
      </td>
      <td>STAFF STAND BY AT A/C SIDE</td>
      <td style="<%=style.underline%> min-width:210px;">
        <%=staffStand%>
      </td>
    </tr>
  </table>
  <table>
    <tr>
      <td>BOARDING ANNOUNCED BY</td>
      <td style="<%=style.underline%> min-width:550px;">
        <%=boardingAnnounced%>
      </td>
    </tr>
  </table>
  <table>
    <tr>
      <td>BAGGAGE INTERCEPTED BY</td>
      <td style="<%=style.underline%> min-width:420px;">
        <%=baggageBy%>
      </td>
      <td>TOTAL</td>
      <td style="<%=style.underline%> min-width:100px;">
        <%=baggageTotal%>
      </td>
      <td>PCS</td>
    </tr>
  </table>
  <table>
    <tr>
      <td>BABY STROLLER INTERCEPTED BY</td>
      <td style="<%=style.underline%> min-width:400px;">
        <%=babyStrollerBy%>
      </td>
      <td>TOTAL</td>
      <td style="<%=style.underline%> min-width:100px;">
        <%=babyStrollerTotal%>
      </td>
      <td>PCS</td>
    </tr>
  </table>
  <table>
    <tr>
      <td>RESTRICTED ITEM COLLECTED BY</td>
      <td style="<%=style.underline%> min-width:400px;">
        <%=restrictedItemBy%>
      </td>
      <td>TOTAL</td>
      <td style="<%=style.underline%> min-width:100px;">
        <%=restrictedItemTotal%>
      </td>
      <td>PCS</td>
    </tr>
  </table>
  <table>
    <tr>
      <td>DOCUMENT : CHECKED / MATCHED BY</td>
      <td style="<%=style.underline%> min-width:400px;">
        <%=docCheck%>
      </td>
    </tr>
  </table>
  <table>
    <tr>
      <td style="width:200px">BOARDING BY PRIORITY</td>
      <td>
        <input type="checkbox" <% if (byPrior==='yes' ) { %>
        checked
        <% } %> >YES
        <input type="checkbox" <% if (byPrior==='no' ) { %>
        checked
        <% } %>>NO</td>
      <td style="width:200px">BOARDING BY ROWS</td>
      <td>
        <input type="checkbox" <% if (byRows==='yes' ) { %>
        checked
        <% } %>>YES
        <input type="checkbox" <% if (byRows==='no' ) { %>
        checked
        <% } %>>NO</td>
    </tr>
  </table>
  <table>
    <tr>
      <td>SPECIAL CASE ( ARR / DEP )</td>
      <td style="<%=style.underline%> min-width:300px;">
        <%=specialCase%>
      </td>
      <td>HANDLED BY</td>
      <td style="<%=style.underline%> min-width:200px;">
        <%=handledBy%>
      </td>
    </tr>
  </table>
  <table>
    <tr>
      <td>KO</td>
      <td style="<%=style.underline%> min-width:500px;">
        <%=ko%>
      </td>
      <td>KO-B</td>
      <td style="<%=style.underline%> min-width:500px;">
        <%=koB%>
      </td>
      <td>LCS</td>
      <td style="<%=style.underline%> min-width:500px;">
        <%=lcs%>
      </td>
      <td>CSS / GATE LEADER</td>
      <td style="<%=style.underline%> min-width:500px;">
        <%=gateLeader%>
      </td>
    </tr>
  </table>
  <table style="table-layout: fixed;">
    <th style="text-align: left;">REMARKS / IRREGULARITIES :</th>
    <tr>
      <td style="<%=style.underline%> min-width:500px word-wrap:break-word;">
        <%=remark%>
      </td>
    </tr>
  </table>
  <table style="<%=style.table%>">
    <tr>
      <td width="630px"></td>
      <td>F — KP — 100 Revision No. 04</td>
    </tr>
  </table>
</body>

</html>